<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication3">
    <application
        android:allowBackup="true"
        android:icon="@drawable/lauch_image"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Register.Register"/>
        <activity android:name=".MyPage.MyPageSelectMenu"/>
        <activity android:name=".MyPage.ChangePersonalInfo"/>
        <activity android:name=".MyPage.PreferNonpreferBrandBoundary"/>
        <activity android:name=".MyPage.PreviousPathBoundary"/>
        <activity android:name=".MyPage.PreviousPathSpecificBoundary"/>
        <activity android:name=".PreferNonPreferBrandSelect.PreferNonpreferBrandSelectBoundary"/>
        <activity android:name=".PreferNonPreferBrandSelect.RegisterAddPreferNonPreferBoundary"/>
        <activity android:name=".SelectMallFloorLocation.F1CurrentLocationSelectBoundary"/>
        <activity android:name=".SelectMallFloorLocation.MallSelectBoundary"/>
        <activity android:name=".Recommend.CategorySelectBoundary"/>
        <activity android:name=".Recommend.RecommendBrand"/>
        <activity android:name=".Recommend.PathSelectBoundary"/>
        <activity android:name=".Recommend.AllBrandList" />
        <activity android:name=".Shopping.ShoppingActivity"/>
        <activity android:name=".Shopping.FeedbackActivity"/>
        <activity android:name=".MyPage.AddPreferNonPreferBoundary"></activity>
        <activity android:name=".Login.LoadingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
